body {
		--color-main-bg: #383f4f;
		--color-main-fg: #fff;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: orange;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #9999FF;
		--color-output-border: #1f2631;
		--color-output-bg: #2b323e;
		--color-output-fg: #fff;
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #FF7A7A; /*5:1 on #333*/
}

body.light {
		--color-main-bg: #E8E7E1;
		--color-main-fg: #02004f;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: purple;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: blue;
		--color-output-border: #fff5eb;
		--color-output-bg: #FFFEF5;
		--color-output-fg: #02004f;
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #E00000; /*5:1 on #333*/
}

body.dark {
		--color-main-bg: #383f4f;
		--color-main-fg: #fff;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: orange;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #9999FF;
		--color-output-border: #1f2631;
		--color-output-bg: #2b323e;
		--color-output-fg: #fff;
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #FF7A7A; /*5:1 on #333*/
}

@media (prefers-color-scheme: light) {
		body {
				--color-main-bg: #E8E7E1;
				--color-main-fg: #000;
				--color-link-visited-bg: var(--color-main-bg);
				--color-link-visited-fg: purple;
				--color-link-bg: var(--color-main-bg);
				--color-link-fg: blue;
				--color-output-border: #fff5eb;
				--color-output-bg: #FFFEF5;
				--color-output-fg: #000;
				--color-error-bg: var(--color-output-bg);
				--color-error-fg: #E00000; /*5:1 on #333*/
		}
}
