body {
		--color-main-bg: #383f4f;
		--color-main-fg: #fff;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: #FFA500;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #A3A3FF;
		--color-output-border: #1f2631;
		--color-output-bg: #2b323e;
		--color-output-fg: #fff;
		--color-link-output-visited-bg: var(--color-output-bg);
		--color-link-output-visited-fg: var(--color-link-visited-fg);
		--color-link-output-bg: var(--color-output-bg);
		--color-link-output-fg: var(--color-link-fg);
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #FF7A7A;
}

body.light {
		--color-main-bg: #E8E7E1;
		--color-main-fg: #02004f;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: #800080;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #00F;
		--color-output-border: #d0cac3;
		--color-output-bg: #FFFEF5;
		--color-output-fg: #02004f;
		--color-link-output-visited-bg: var(--color-output-bg);
		--color-link-output-visited-fg: var(--color-link-visited-fg);
		--color-link-output-bg: var(--color-output-bg);
		--color-link-output-fg: var(--color-link-fg);
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #E00000;
}

body.dark {
		--color-main-bg: #383f4f;
		--color-main-fg: #fff;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: #FFA500;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #A3A3FF;
		--color-output-border: #1f2631;
		--color-output-bg: #2b323e;
		--color-output-fg: #fff;
		--color-link-output-visited-bg: var(--color-output-bg);
		--color-link-output-visited-fg: var(--color-link-visited-fg);
		--color-link-output-bg: var(--color-output-bg);
		--color-link-output-fg: var(--color-link-fg);
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #FF7A7A;
}

@media (prefers-color-scheme: light) {
		body {
		--color-main-bg: #E8E7E1;
		--color-main-fg: #02004f;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: #800080;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #00F;
		--color-output-border: #d0cac3;
		--color-output-bg: #FFFEF5;
		--color-output-fg: #02004f;
		--color-link-output-visited-bg: var(--color-output-bg);
		--color-link-output-visited-fg: var(--color-link-visited-fg);
		--color-link-output-bg: var(--color-output-bg);
		--color-link-output-fg: var(--color-link-fg);
		--color-error-bg: var(--color-output-bg);
		--color-error-fg: #E00000;
		}
}
