
body {
		--color-main-bg: #333;
		--color-main-fg: white;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: orange;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #9999FF;
		--color-output-bg: black;
		--color-output-fg: white;
		--color-error-bg: var(--color-main-bg);
		--color-error-fg: #FF7A7A; /*5:1 on #333*/
}

body.light {
		--color-main-bg: #FFF;
		--color-main-fg: #000;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: purple;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: blue;
		--color-output-bg: #FFF;
		--color-output-fg: #000;
		--color-error-bg: var(--color-main-bg);
		--color-error-fg: #E00000; /*5:1 on #333*/
}
body.dark {
		--color-main-bg: #333;
		--color-main-fg: white;
		--color-link-visited-bg: var(--color-main-bg);
		--color-link-visited-fg: orange;
		--color-link-bg: var(--color-main-bg);
		--color-link-fg: #9999FF;
		--color-output-bg: black;
		--color-output-fg: white;
		--color-error-bg: var(--color-main-bg);
		--color-error-fg: #FF7A7A; /*5:1 on #333*/
}

@media (prefers-color-scheme: light) {
		body {
				--color-main-bg: #FFF;
				--color-main-fg: #000;
				--color-link-visited-bg: var(--color-main-bg);
				--color-link-visited-fg: purple;
				--color-link-bg: var(--color-main-bg);
				--color-link-fg: blue;
				--color-output-bg: #FFF;
				--color-output-fg: #000;
				--color-error-bg: var(--color-main-bg);
				--color-error-fg: #E00000; /*5:1 on #333*/
		}
}

body {
    background: var(--color-main-bg);
    color: var(--color-main-fg);
}

.external-link {
    background-color: black;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    content: " ";
    -webkit-mask-image: url('icons/open_in_new_FILL0_wght400_GRAD0_opsz48.svg');
    -webkit-mask-size: 1.5em 1.5em;
    -webkit-mask-repeat: no-repeat;
    mask-image: url('icons/open_in_new_FILL0_wght400_GRAD0_opsz48.svg');
    mask-size: 1.5em 1.5em;
    mask-repeat: no-repeat;
}

.hide-wavefile-js{
    display: none;
}

body{
    padding: 0px;
    margin: 0px;
    display:flex;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
}

main {
    display: block;
    flex: 1;
    padding: 0 8px 8px 8px;
}

nav {
    padding: 8px 8px 0 8px;
}

nav li {
    display: inline-block;
    margin-right: 8px;
    border-left: 2px solid;
    padding-left: 8px;
}

button {
    margin: 5px 0px;
}

footer {
    flex: 0;
    margin-top: 10px;
    border: solid;
    border-width: 2px 0px 0px 0px;
    padding: 8px;
}

li {
    margin: 10px 0;
}

/* touch target size */
@media only screen and (max-width: 600px) {  
    a, button, input, details {
	min-height: 48px;
	min-width: 48px;
	display: inline-block;
	vertical-align: middle;
	line-height: 48px;
    }
}


.external-link {
    background: var(--color-main-bg);
    color: var(--color-main-fg);
}

a:visited {
    background: var(--color-link-visited-bg);
    color: var(--color-link-visited-fg);
}

a {
    background: var(--color-link-bg);
    color: var(--color-link-fg);
}

#output {
    background: var(--color-output-bg);
    color: var(--color-output-fg);
}

#input {
    background: var(--color-output-bg);
    color: var(--color-output-fg);
}

.error {
    background: var(--color-error-bg);
    color: var(--color-error-fg);
}

